<launch>

  <node pkg="leica_streaming_app" type="leica_streaming_app_node" name="leica" output="screen">
      <param name="connection" value="tcp" />
      <param name="base_frame" value="base_link" />
      <param name="point_frame" value="point_link" />
      <param name="publish_tf" value="true" />
      <param name="ip" value="10.2.86.55" />
      <param name="port" value="5001" />
  </node>
</launch>
